<div id="delete_confirm" class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3>Borrar registro</h3>
            </div>
            <div class="modal-body">
                <p>Está por borrar el registro. Este proceso es irreversible.</p>
                <p>¿Desea continuar?</p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger btn-flat">Si, borrar</button>
                <button class="btn btn-secondary btn-flat" data-dismiss="modal">No, cancelar</button>
            </div>
        </div>
    </div>
</div>
<input name="modal" type="hidden" value="0">
